<h1>Listing charities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
    </tr>
  </thead>

  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= charity.charity_legal_name %></td>
        <td><%= charity.charity_website %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity', new_charity_path %>
<%= paginate @charities %>
